<div class="jumbotron text-center">
	<h1>MEAN Authentication Application</h1>
	<p class="lead">Welcome to our custom MEAN authentication application build from scratch</p>
<div>
<a [routerLink]="['/register']" class="btn btn-primary">Register</a>
<a [routerLink]="['/login']" class="btn btn-primary">Login</a>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-4">
		<h3>Express Backend</h3>
		<p>Rock Solid node. /Express server using Mongoose to organize models and query of Mongo DB</p>
	</div>
	<div class="col-md-4">
		<h3>Angular-CLI</h3>
		<p>Angular-Cli to generate components, services and more, Local dev server and easy to learn</p>
	</div>
	<div class="col-md-4">
		<h3>JWT Token</h3>
		<p>Full featured authentication using JASON web Token</p>
	</div>
	</div> <!-- ROW -->
</div> <!-- container -->